@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: theme('colors.gray.800');
    border-radius: 2px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: theme('colors.blue.400');
    border-radius: 2px;
    /* border: 3px solid theme('colors.gray.100'); */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: theme('colors.blue.400');
  }
}